<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
        integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>

    <title>Modularizing Models</title>
</head>

<body>
    <%- include('partials/navbar') %>
    <div class="jumbotron">
        <h1>Welcome To Quoting Dojo</h1>
    </div>
    <div class="container">
        <div class="card">
            <form action="/addQuote" method="POST">
                <label for="">Name</label>
                <input class="form-control" type="text" name="name">
                <label for="">Quote</label>
                <input class="form-control" type="text" name="quote">
                <input class="btn btn-dark" type="submit">
            </form>
        </div>
    </div>
</body>

</html>